.App {
  text-align: center;
}
a {
  color: black;
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: beige;
  color: black;
}
nav ul {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.div_about {
  position: absolute;
  width: 70%;
  margin-left: 15%;
}
